<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">       
    <link rel="shortcut icon" href="/img/" type="image/x-icon">
    <title>Sensus</title>
    <link rel="shortcut icon" href="./assets/img/" type="image/x-icon">
</head>
<body>
  <nav>
    <h1>Sen<span class = 'colored'>sus</span> Healthcare</h1>
    <ul>
      <li>
        <a href="/pacientes/add">Adicionar paciente</a>
      </li>
      <li>
        <a href="/medicamentos/add">Adicionar medicamento</a>
      </li>
    </ul>
     <form action="/filter" class = 'filterForm' method="post">
            <input type="text"  name = 'filter' placeholder="Filtrar paciente ou medicamento">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pacientes">Pacientes</a></li>
        <li><a href="/medicamentos">Medicamentos</a></li>
    </ul>
  </nav>
  <main>
    {{{ body }}}
  </main>
  <footer>
    <p>Made with 💗 by bzt.</p>
    <nav class = 'nav-footer'>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pacientes">Pacientes</a></li>
        <li><a href="/medicamentos">Medicamentos</a></li>
    </ul>
    </nav>
    <p>Sensus &copy 2024</p>
  </footer>
</body>
</html>