<h1 class="text-center">Registrar medicamento</h1>
<div class="container form-container">
    <form action="/medicamentos/add" method="post" class="form">


      <div class="form-group">
        <label for="title">Nome</label>
        <input type="text" placeholder = 'Exemplo 00mg' class="form-control" name="medicamento">
      </div> 

      <div class="form-group">
        <label for="description">Quantiade de comprimidos</label>
        <input type="number" class="form-control" name="quantidade">
      </div>

      <button type="submit" class="btn w-100 btn-primary">Enviar</button>

    </form>
  </div>